@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
html,
body,
h1,
h2,
h3,
h4,
li,
ul,
i {
    font-family: "Noto Sans Thai Looped", sans-serif;
    font-weight: 600;
    font-style: normal;
  font-variation-settings:
    "wdth" 100;
  scroll-behavior: smooth;
}